@font-face {
    font-family: "Doto-Rounded";
    src: url("fonts/Doto_Rounded-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    /* COLOR */
    --primary-black: #000000;
    --primary-white: #FFFFFF;
    --primary-gray: #EAEDEF;
    --primary-light-blue: #DEF1F5;
    --primary-yellow: #FFCC00;
    --secondary-charcoal: #202020;
    --secondary-dark-gray: #444C52;
    --secondary-gray: #D1D5D8;
    --secondary-text-gray: #A2ADB5;
    --secondary-dark-green: #0A3019;
    --secondary-light-green: #51AF7A;
    --secondary-pale-yellow: #FFD93F;
}