/* FONTS */
@font-face {
    font-family: "Doto-Rounded";
    src: url("fonts/Doto_Rounded-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ==================== VARIABLES ==================== */
/* COLOR */
:root {
    --primary-black: #000000;
    --primary-white: #FFFFFF;
    --primary-gray: #EAEDEF;
    --primary-light-blue: #DEF1F5;
    /* --primary-light-blue: #ACDDE7; */
    --primary-yellow: #FFCC00;
    --secondary-gray: #D1D5D8;
    --secondary-text-gray: #AFBCC5;


    --br-xsmall-box: 0.25rem;
    --br-small-box: 0.625rem;
    --br-medium-box: 0.938rem;
    --br-large-box: 1.813rem;
    --br-xlarge-box: 2.5rem;
}

/* ==================== GENERAL TEXT STYLES ==================== */
h1 {
    font-family: "Geist";
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary-black);
}

h3 {
    font-family: "Geist";
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-black);
}

h2 {
    font-family: "Doto-Rounded";
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-white);
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}


p, dt, dd {
    font-family: "Geist";
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--primary-black);
}

.tag {
    width: fit-content;
    color: var(--primary-black);
    padding: 0.5rem;
    background-color: var(--secondary-gray);
    border-radius: var(--br-small-box);
    corner-shape: squircle;
}

/* =================== GENERAL WRAPPER STYLES =================== */
main::-webkit-scrollbar {
    width: 0.375rem;
}
main::-webkit-scrollbar-track {
    background: transparent;
    margin-block-start: 3.3rem;
    margin-block-end: 5.8rem;
}
main::-webkit-scrollbar-thumb {
    background: var(--primary-gray);
    border-radius: 1rem;
}

html, body {
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    padding-inline: 0.375rem;
    padding-block-start: 3.75rem;
    background-color: var(--primary-black);
    height: 100%;
    overflow-y: auto;
    gap: 0.5rem;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 6.95rem;
    background-color: var(--primary-white);
    gap: 3rem;
    border-radius: var(--br-xlarge-box);
    corner-shape: squircle;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display-title {
    position: sticky;
    top: 0;
}

.display-box{
    width: 100%;
    padding-inline: var(--br-large-box);
    padding-block: var(--br-xlarge-box);
}

.box-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

figure {
    width: 100%;
    padding-inline-start: var(--br-medium-box);
    padding-inline-end: var(--br-large-box);
    padding-block: var(--br-xlarge-box);
}

img {
    width: 100%;
}

/* ======================= MAIN LIST ======================= */
ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#color-summary {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.25rem;
}

/* ======================= NAVS ======================= */

.top,
.bottom {
    left: 0.375rem;
    right: 0.375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    gap: 0.5rem;
    min-height: 3rem;
    background-color: var(--primary-black);
    z-index: 2;
}

.top {
    top: 0;
    width: auto;
    border-radius: 0 0 var(--br-large-box) var(--br-large-box);
    corner-shape: squircle;
    padding-block-start: 0.375rem;
}

.ext-h1-text {
    position: absolute;
    width: 0rem;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip-path: inset(50%);
}

.bottom {
    bottom: 0;
    width: auto;
    justify-content: center;
    border-radius: var(--br-large-box) var(--br-large-box) 0 0;
    corner-shape: squircle;
    padding-block-end: 0.375rem;
}

.nav-wrapper-top,
.nav-wrapper-bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    border-radius: var(--br-large-box);
    corner-shape: squircle;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.10) inset, 0 0 20px 20px rgba(0, 0, 0, 0.08);
}

.nav-wrapper-top {
    background-color: var(--primary-yellow);
    padding: 1rem;
    gap: 0.5rem;
}

.nav-wrapper-bottom {
    position: relative;
    background-color: var(--primary-light-blue);
}

button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-block: 2rem;
    width: 100%;
    height: 100%;
}

button svg {
    transition: transform 0.4s ease;
}

button:hover svg {
    transform: scale(1.15);
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.on {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 0.3s ease;
    transform: translateX(-50%);
}

.hidden { display: none; }

/* ======================= TEXT DATA ======================= */
dl {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

dt {
    width: 30%;
    color: var(--secondary-text-gray);
}

dd {
    width: 70%;
}

.text-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.text-color-box,
.summary-color-box {
    display: block;
    border: 0.063rem solid var(--secondary-gray);
    border-radius: var(--br-small-box);
    corner-shape: squircle;
}

.text-color-box{
    background-color: var(--bg-color);
    width: 1.5rem;
    height: 1.5rem;
}

.font-category {
    color: var(--secondary-text-gray);
}

.font-title {
    font-weight: 700;
    font-size: 1rem;
    color: #212121;
}

#typo-summary li:nth-child(1) .font-title { font-size: 2rem; }
#typo-summary li:nth-child(2) .font-title { font-size: 1.75rem; }
#typo-summary li:nth-child(3) .font-title { font-size: 1.5rem;}

.text-category-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.75rem;
    border: 0.063rem solid var(--secondary-gray);
    border-radius: var(--br-large-box);
    corner-shape: squircle;
}

/* ======================= COLOR DATA ======================= */
.summary-color-box {
    background-color: var(--bg-color);
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--br-medium-box);
    corner-shape: squircle;
}

.color-box {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
    border: 0.063rem solid var(--secondary-gray);
    border-radius: var(--br-medium-box);
}